<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>   
    <div class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="#">BCB</a>
       
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Grade", "GradeList", "Grade", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Player List", "Index", "Player", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Ajax Crud", "Index", "AjaxCrud", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("List Crud", "Index", "PlayerListSaving", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Sign Up", "Register", "Account", new { area = "" }, new { @class = "navbar-brand" })*@

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                        {

                            <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                            <il>@Html.ActionLink("Assign Role", "CreateRole", "Admin")</il>
                            <il>@Html.ActionLink("Mange Role", "Index", "Admin")</il>
                            <li>@Html.ActionLink("Hello, " + User.Identity.Name, "")</li>
                        }

                    }
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Grade", "GradeList", "Grade", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Player List", "Index", "Player", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Ajax Crud", "Index", "AjaxCrud", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("List Crud", "Index", "PlayerListSaving", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Sign Up", "Register", "Account", new { area = "" }, new { @class = "navbar-brand" })


                </ul>
            </div>
        </div>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Bangladesh Cricket Board</p>
        </footer>
    </div>

    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/jquery-core-plugins.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@


</body>
</html>