@model ProjectCrudMvc.Models.ViewModels.ExtraPlayerCreate
    <div>
        <h4>Player Details</h4>
        <br />
        <table class="table table-bordered">
            <tr>
                <th>Player ID</th>
                <td>@Html.DisplayFor(p => p.ID)</td>
            </tr>
            <tr>
                <th>Player Name</th>
                <td>@Html.DisplayFor(p => p.Name)</td>
            </tr>
            <tr>
                <th>Date Of Birth</th>
                <td>@Html.DisplayFor(p => p.Team)</td>
            </tr>
            <tr>
                <th>Team</th>
                <td>@Html.DisplayFor(p => p.HireInBPL)</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Html.DisplayFor(p => p.SigningMoney)</td>
            </tr>

        </table>
    </div>
