@model ProjectCrudMvc.Models.ViewModels.CreatePlayerModel
@{
    ViewBag.Title = "Edit";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br /><br /><br />
      <div style="background-color: powderblue">
          @using (Html.BeginForm("AddOrEdit", "Player", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "SubmitForm" }))
          {
              @Html.HiddenFor(p => p.PlayerID)
              @Html.AntiForgeryToken()
              <h2 style="font-family:Castellar; text-align:center; color: crimson;">Update this Record</h2>
              <div class="form-group row">
                  @Html.LabelFor(p => p.Name, htmlAttributes: new { @class = "form-control-label col-md-2" })
                  <div class="col-md-10">
                      @Html.EditorFor(p => p.Name, new { htmlAttributes = new { @class = "form-control" } })
                      @Html.ValidationMessageFor(p => p.Name, "", new { @class = "txt-danger" })
                  </div>
              </div>

              <div class="form-group row">
                  @Html.LabelFor(p => p.DoB, htmlAttributes: new { @class = "form-control-label col-md-2" })
                  <div class="col-md-10">
                      @Html.TextBoxFor(p => p.DoB, "{0:mm/dd/yyyy}", new { htmlAttributes = new { @class = "form-control" } })
                      @Html.ValidationMessageFor(p => p.DoB, "", new { @class = "txt-danger" })
                  </div>
              </div>

              <div class="form-group row">
                  @Html.LabelFor(p => p.GradeID, htmlAttributes: new { @class = "form-control-label col-md-2" })
                  <div class="col-md-10">

                      @Html.DropDownListFor(p => p.GradeID, new SelectList(Model.gradeList, "GradeId", "GradeName"), "Select Grade")
                      @Html.ValidationMessageFor(p => p.GradeID, "", new { @class = "txt-danger" })
                  </div>
              </div>


              <div class="form-group row">
                  @Html.LabelFor(p => p.Team, htmlAttributes: new { @class = "form-control-label col-md-2" })
                  <div class="col-md-10">
                      @Html.EditorFor(p => p.Team, new { htmlAttributes = new { @class = "form-control" } })
                      @Html.ValidationMessageFor(p => p.Team, "", new { @class = "txt-danger" })
                  </div>
              </div>

              <div class="form-group row">
                  @Html.LabelFor(p => p.Email, htmlAttributes: new { @class = "form-control-label col-md-2" })
                  <div class="col-md-10">
                      @Html.EditorFor(p => p.Email, new { htmlAttributes = new { @class = "form-control" } })
                      @Html.ValidationMessageFor(p => p.Email, "", new { @class = "txt-danger" })
                  </div>
              </div>

              <div class="form-group row">
                  @Html.LabelFor(p => p.Phone, htmlAttributes: new { @class = "form-control-label col-md-2" })
                  <div class="col-md-10">
                      @Html.EditorFor(p => p.Phone, new { htmlAttributes = new { @class = "form-control" } })
                      @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "txt-danger" })
                  </div>
              </div>

              <div class="form-group row">
                  @Html.LabelFor(p => p.Salary, htmlAttributes: new { @class = "form-control-label col-md-2" })
                  <div class="col-md-10">
                      @Html.EditorFor(p => p.Salary, new { htmlAttributes = new { @class = "form-control" } })
                      @Html.ValidationMessageFor(p => p.Salary, "", new { @class = "txt-danger" })
                  </div>
              </div>


              <div class="form-group row">
                  @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "form-control-label col-md-2" })
                  <div class="col-md-10">
                      <img src="@Url.Content(Model.ImageUrl)" height="80" width="75" class="change_edit" />
                      <input type="file" name="ImageFile" class="form-control changeImage" required />
                      @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "txt-danger" })
                  </div>
              </div>

              <div class="form-group row">

                  <div class="col-md-offset-2 col-md-2">
                      <input type="submit" value="Update" class="btn btn-success" />
                  </div>
              </div>
          }
      </div>

<script src="~/Scripts/jquery-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $("#DoB").datepicker({
            changeMonth: true, changeYear: true
        });
    })
    $(function () {
        $('.changeImage').change(function () {
            var input = this;
            if (input.files) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.change_edit').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }

        })
    })
</script>