@model IEnumerable<ProjectCrudMvc.Models.ViewModels.ViewModelUser>
@{
    ViewBag.Title = "Index";
}

<h2>User Wise Role List</h2>
<table class="table table-striped">
    <tr>
        <th>User Name</th>
        <th>Role Name</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
            <td>@Html.DisplayFor(modelItem => item.RoleName)</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.RoleID }) | @Html.ActionLink("Delete", "Delete", new { id = item.RoleID }) | @Html.ActionLink("Details", "Details", new { id = item.RoleID })</td>
        </tr>
    }
</table>

